Repository Miautawn/Auto-Validate-By-History-Clone: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check, isort, black, mypy

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-merge-conflict
        args: [--assume-in-merge]
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: local
    hooks:
      - id: poetry-check
        name: validate pyproject.toml
        entry: poetry check
        language: system
        pass_filenames: false
        files: ^pyproject\.toml$
      - id: poetry-lock
        name: check poetry.lock
        entry: poetry lock --check
        language: system
        always_run: true
        pass_filenames: false
      - id: autoflake
        name: remove unused imports
        entry: poetry run autoflake
        language: system
      - id: isort
        name: isort
        entry: poetry run isort
        language: system
        types: [python]
      - id: black
        name: black
        entry: poetry run black
        language: system
        types: [python]
      - id: mypy
        name: mypy
        entry: poetry run mypy
        language: system
        types: [python]
        pass_filenames: false

Remove empty lines
  .pre-commit-config.yaml
  src/avh/__init__.py
  src/avh/aliases.py
  src/avh/auto_validate_by_history.py
  src/avh/constraints/__init__.py
  src/avh/constraints/_base.py
  src/avh/constraints/_constraints.py
  src/avh/constraints/_data_quality_program.py
  src/avh/data_generation/__init__.py
  src/avh/data_generation/_base.py
  src/avh/data_generation/_categorical.py
  src/avh/data_generation/_numeric.py
  src/avh/data_generation/_pipeline.py
  src/avh/data_issues/__init__.py
  src/avh/data_issues/_base.py
  src/avh/data_issues/_categorical.py
  src/avh/data_issues/_dataset.py
  src/avh/data_issues/_issues.py
  src/avh/data_issues/_numeric.py
  src/avh/metrics/__init__.py
  src/avh/metrics/_base.py
  src/avh/metrics/_categorical.py
  src/avh/metrics/_metrics.py
  src/avh/metrics/_numeric.py
  src/avh/utility_functions.py
Due: isort, black, mypy

remove unused imports
  pyproject.toml
Due: poetry-check

Add autoflake flags
  pyproject.toml
Due: poetry-check

Remove unsused imports
  src/avh/auto_validate_by_history.py
  src/avh/constraints/_base.py
  src/avh/constraints/_constraints.py
  src/avh/data_generation/_base.py
  src/avh/data_generation/_categorical.py
  src/avh/data_generation/_numeric.py
  src/avh/data_generation/_pipeline.py
  src/avh/data_issues/__init__.py
  src/avh/data_issues/_base.py
  src/avh/data_issues/_categorical.py
  src/avh/data_issues/_dataset.py
  src/avh/data_issues/_issues.py
  src/avh/data_issues/_numeric.py
  src/avh/metrics/_base.py
  src/avh/metrics/_categorical.py
  src/avh/metrics/_metrics.py
  src/avh/metrics/_numeric.py
  src/avh/utility_functions.py
Due: isort, black, mypy

Format code
  .pre-commit-config.yaml
  notebooks/benchmark_data_generation.ipynb
  pyproject.toml
  src/avh/__init__.py
  src/avh/aliases.py
  src/avh/auto_validate_by_history.py
  src/avh/constraints/__init__.py
  src/avh/constraints/_base.py
  src/avh/constraints/_constraints.py
  src/avh/constraints/_data_quality_program.py
  src/avh/data_generation/__init__.py
  src/avh/data_generation/_base.py
  src/avh/data_generation/_categorical.py
  src/avh/data_generation/_numeric.py
  src/avh/data_generation/_pipeline.py
  src/avh/data_issues/__init__.py
  src/avh/data_issues/_base.py
  src/avh/data_issues/_categorical.py
  src/avh/data_issues/_dataset.py
  src/avh/data_issues/_issues.py
  src/avh/data_issues/_numeric.py
  src/avh/metrics/__init__.py
  src/avh/metrics/_base.py
  src/avh/metrics/_categorical.py
  src/avh/metrics/_metrics.py
  src/avh/metrics/_numeric.py
  src/avh/utility_functions.py
Due: poetry-check, isort, black, mypy

Remove gutenbergpy dependency
  .gitignore
  README.md
  notebooks/benchmark_data_generation.ipynb
  poetry.lock
  pyproject.toml
  src/avh/auto_validate_by_history.py
  src/avh/data_generation/_categorical.py
Due: poetry-check, isort, black, mypy

Reset project version
  pyproject.toml
Due: poetry-check

Update README.md
  README.md
Due: none

Use asymptotic method in the ks_2samp
  src/avh/auto_validate_by_history.py
  src/avh/metrics/_numeric.py
Due: isort, black, mypy

Increment patch version
  pyproject.toml
Due: poetry-check

Add plotly as development dependency
  poetry.lock
  pyproject.toml
Due: poetry-check

Add time differencing functionality
  pyproject.toml
  src/avh/auto_validate_by_history.py
  src/avh/constraints/_base.py
  src/avh/constraints/_constraints.py
  src/avh/constraints/_data_quality_program.py
  src/avh/utility_functions.py
Due: poetry-check, isort, black, mypy

Remove prints
  src/avh/constraints/_base.py
Due: isort, black, mypy

Update project version and README
  README.md
  pyproject.toml
Due: poetry-check

Add temp files
  benchmark/benchmark_avh.py
  benchmark/benchmark_data_generation.py
  benchmark/benchmark_ks_test.py
  benchmark/benchmark_lof.py
  benchmark/benchmark_tfdv.py
  notebooks/benchmark_data_generation.ipynb
  poetry.lock
  src/avh/auto_validate_by_history.py
  src/avh/constraints/_base.py
  src/avh/constraints/_constraints.py
  src/avh/data_issues/_issues.py
  src/avh/data_issues/_numeric.py
  src/avh/metrics/_base.py
  src/avh/metrics/_categorical.py
  src/avh/metrics/_metrics.py
  src/avh/metrics/_numeric.py
Due: isort, black, mypy

Update python requirements
  .python-version
  poetry.lock
  pyproject.toml
Due: poetry-check

Optimise benchmark code
  benchmark/benchmark_avh.py
  notebooks/benchmark_data_generation.ipynb
  src/avh/auto_validate_by_history.py
Due: isort, black, mypy

Add visualisation notebook
  benchmark/benchmark_visualisations.ipynb
Due: none

Update benchmarks
  benchmark/benchmark_avh.py
  benchmark/benchmark_data_generation.py
  benchmark/benchmark_ks_test_full.py
  benchmark/benchmark_tfdv_full.py
  notebooks/benchmark_data_generation.ipynb
  src/avh/auto_validate_by_history.py
  src/avh/constraints/_base.py
  src/avh/constraints/_constraints.py
  src/avh/constraints/_data_quality_program.py
  src/avh/data_generation/_base.py
  src/avh/data_generation/_numeric.py
  src/avh/metrics/_numeric.py
  src/avh/utility_functions.py
Due: isort, black, mypy

Add proper tfdv benchmark
  benchmark/benchmark_tfdv.py
  benchmark/benchmark_tfdv_full.py
  benchmark/benchmark_visualisations.ipynb
  benchmark/temp.ipynb
  pyproject.toml
Due: poetry-check, isort, black, mypy

Add HealthESN benchmark
  benchmark/benchmark_health_esn.py
  benchmark/benchmark_visualisations.ipynb
  benchmark/healthESN/__init__.py
  benchmark/healthESN/model.py
  benchmark/temp.ipynb
  poetry.lock
  pyproject.toml
Due: poetry-check, isort, black, mypy

Update benchmarks
  benchmark/benchmark_avh_diet.py
  benchmark/benchmark_data_generation.py
  benchmark/benchmark_visualisations.ipynb
  benchmark/healthESN/model.py
Due: isort, black, mypy

Add benchmark README
  benchmark/README.md
  benchmark/benchmark_visualisations.ipynb
  benchmark/healthESN/model.py
  notebooks/AVH_implementation.ipynb
  notebooks/benchmark_data_generation.ipynb
  src/avh/data_generation/_base.py
Due: isort, black, mypy

Bump package version
  pyproject.toml
Due: poetry-check

Remove unecessary files
  benchmark/temp.ipynb
Due: none
